<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Test Suite">
    <test name="test 01">
        <parameter name="browser" value="chrome"></parameter>
    <classes>
        <class name="testCases.TC001Accountregistration"/>
    </classes>
    </test>
</suite>